node_modules/
tmp/
public/assets/dist/
public/assets/mix.js.map
public/assets/mix-manifest.json

build/deploy/
vendor/
composer.lock
auth.json

public/wp/uploads/*
!public/wp/uploads/.gitkeep

public/wp/*
!public/wp/.gitkeep

public/wp-content/*
public/content/*
public/app/*
!public/app/templates/
!public/app/.gitkeep
!public/app/.htaccess

public/plugins/*
!public/plugins/.gitkeep
!public/plugins/.htaccess
!public/plugins/core

public/mu-plugins/*
!public/mu-plugins/.gitkeep
!public/mu-plugins/.htaccess
!public/mu-plugins/wpframework.php

report/
.wp-develop/
deploy.zip
.github/
.idea/
.phpunit.result.cache/
.vscode/
.phpdoc/
.env
.env.backup
.env.local
.secret
.htaccess
.phpunit.result.cache
.phpdoc/cache/
npm-debug.log
yarn-error.log
wpcs-lint.txt
wpcs-fixed-report.txt
package-lock.json
